<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration >
<configuration scan="true">
	<appender name="CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %-5level %logger{36}.%M - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH}</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}-%d{yyyy-MM-dd}</fileNamePattern>
			<maxHistory>30</maxHistory>
			<totalSizeCap>3GB</totalSizeCap>
		</rollingPolicy>

		<encoder>
			<pattern>%d{dd-MM-yy HH:mm:ss.SSS} %-5level %logger{36}.%M - %msg%n</pattern>
		</encoder>
	</appender>
	
	<root level="INFO">
<!-- 		<appender-ref ref="CONSOLE" /> -->
		<appender-ref ref="FILE" />
	</root>
</configuration>
